@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

:root{
  --green: #c4f729;
  --white: #ffffff;
  --grey: #333333;

  --dark-grey: #1f1f1f;
  --off-black: #141414;
}

body{
  font-family: "Inter", sans-serif;
  background-color: var(--off-black);

  height: 100vh;
  width: 100vw;

  display: grid;
  place-content: center;
}

.container{
  background-color: var(--dark-grey);
  border-radius: 6px;
  padding: 2rem;

  width: 260px;
}

.container .profile{
  height: 62px;
  width: 62px;
  margin: 0 auto;
}

.profile img{
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.name{
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
  margin-top: 1.5rem;
  text-align: center;
}

.location{
  font-size: 9px;
  margin-top: 5px;
  font-weight: 500;
  color: var(--green);
  text-align: center;
}

.bio{
  margin-top: 1.1rem;
  color: var(--white);
  font-size: 10px;
  text-align: center;
}

.media{
  margin-top: 18px;
}

.media > div{
  background-color: var(--grey);
  border-radius: 6px;
  padding: 6px;
  font-weight: 600;
  font-size: 12px;

  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.media > div:not(:first-child){
  margin-top: 10px;
}

.media > div:active, 
.media > div:hover{
  color: var(--off-black);
}
.media > div:active span, 
.media > div:hover span{
  height: 100%;
  background-color: var(--green);
}

.media > div span{
  transition: 0.2s all ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;
  z-index: -1;
}

/* Media */
@media only screen and (max-width: 375px) {
 body{
  padding: 1rem;
 } 
  .container{
    width: 100%;
  }
}